In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.pop('EmployeeCount')
df.pop('EmployeeNumber')
df.pop('Over18')
df.pop('StandardHours')
df.shape

(1470, 31)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 31 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(23), object(8)
memory usage: 356.1+ KB

In [6]:
y = df['Attrition']
X = df
X.pop('Attrition')

0       Yes
1        No
2       Yes
3        No
4        No
5        No
6        No
7        No
8        No
9        No
10       No
11       No
12       No
13       No
14      Yes
15       No
16       No
17       No
18       No
19       No
20       No
21      Yes
22       No
23       No
24      Yes
25       No
26      Yes
27       No
28       No
29       No
       ...
1440     No
1441     No
1442    Yes
1443     No
1444    Yes
1445     No
1446     No
1447     No
1448     No
1449     No
1450     No
1451     No
1452    Yes
1453     No
1454     No
1455     No
1456     No
1457     No
1458     No
1459     No
1460     No
1461    Yes
1462     No
1463     No
1464     No
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, Length: 1470, dtype: object

In [7]:
from sklearn.preprocessing import LabelBinarizer
le = LabelBinarizer()
y = le.fit_transform(y)
y.shape

(1470, 1)

In [8]:
df.select_dtypes('object')

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No
5,Travel_Frequently,Research & Development,Life Sciences,Male,Laboratory Technician,Single,No
6,Travel_Rarely,Research & Development,Medical,Female,Laboratory Technician,Married,Yes
7,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Divorced,No
8,Travel_Frequently,Research & Development,Life Sciences,Male,Manufacturing Director,Single,No
9,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,No
10,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No
11,Travel_Rarely,Research & Development,Life Sciences,Female,Laboratory Technician,Single,Yes
12,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,No
13,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Divorced,No
14,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Single,Yes
15,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,No
16,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,Yes
17,Non-Travel,Research & Development,Medical,Male,Laboratory Technician,Divorced,Yes
18,Travel_Rarely,Sales,Life Sciences,Female,Manager,Married,No
19,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,Yes
20,Non-Travel,Research & Development,Other,Female,Manufacturing Director,Divorced,No
21,Travel_Rarely,Sales,Life Sciences,Male,Sales Representative,Single,No
22,Travel_Rarely,Research & Development,Life Sciences,Female,Research Director,Single,No
23,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,No
24,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Single,No
25,Travel_Rarely,Research & Development,Other,Female,Manager,Divorced,No
26,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Single,Yes
27,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Married,No
28,Travel_Rarely,Research & Development,Medical,Female,Healthcare Representative,Married,No
29,Travel_Rarely,Sales,Marketing,Female,Manager,Single,No
...,...,...,...,...,...,...,...
1440,Travel_Frequently,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,No
1441,Non-Travel,Research & Development,Life Sciences,Male,Healthcare Representative,Divorced,No
1442,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Married,Yes
1443,Travel_Rarely,Research & Development,Life Sciences,Male,Manager,Married,No
1444,Travel_Rarely,Research & Development,Technical Degree,Male,Laboratory Technician,Married,No
1445,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Married,No
1446,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1447,Non-Travel,Sales,Marketing,Male,Sales Executive,Divorced,No
1448,Travel_Rarely,Sales,Life Sciences,Male,Sales Executive,Divorced,No
1449,Travel_Rarely,Research & Development,Technical Degree,Male,Research Scientist,Single,No
1450,Travel_Rarely,Human Resources,Life Sciences,Female,Human Resources,Single,Yes
1451,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Married,No
1452,Travel_Frequently,Sales,Life Sciences,Male,Sales Executive,Divorced,No
1453,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1454,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,No
1455,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,No
1456,Travel_Frequently,Research & Development,Life Sciences,Male,Healthcare Representative,Married,Yes
1457,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Married,No
1458,Travel_Rarely,Research & Development,Life Sciences,Female,Research Scientist,Married,No
1459,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Married,Yes
1460,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Single,No
1461,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Divorced,Yes
1462,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1463,Non-Travel,Research & Development,Medical,Male,Manufacturing Director,Single,No
1464,Travel_Rarely,Sales,Other,Female,Sales Representative,Single,No
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,No
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,No
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Yes
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,No
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No

# To encode the object type data into binary form
## Mathod 1.

In [9]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
labl_encdr = LabelEncoder()
one_hot_encdr = OneHotEncoder(sparse = False, categories = 'auto')

In [10]:

BusinessTravel = one_hot_encdr.fit_transform(labl_encdr.fit_transform(df['BusinessTravel']).reshape(-1,1))
Department_new = one_hot_encdr.fit_transform(labl_encdr.fit_transform(df['Department']).reshape(-1,1))
EducationField_new = one_hot_encdr.fit_transform(labl_encdr.fit_transform(df['EducationField']).reshape(-1,1))
Gender_new = one_hot_encdr.fit_transform(labl_encdr.fit_transform(df['Gender']).reshape(-1,1))
JobRole_new = one_hot_encdr.fit_transform(labl_encdr.fit_transform(df['JobRole']).reshape(-1,1))
MaritalStatus_new = one_hot_encdr.fit_transform(labl_encdr.fit_transform(df['MaritalStatus']).reshape(-1,1))
OverTime_new = one_hot_encdr.fit_transform(labl_encdr.fit_transform(df['OverTime']).reshape(-1,1))

### Example to concatenate to array

In [11]:
temp = np.c_[BusinessTravel, Department_new, EducationField_new, Gender_new, JobRole_new, MaritalStatus_new, OverTime_new]
temp.shape

(1470, 28)

## Alternative to method 1. using for loop and np.append for concatnate

In [12]:
colm = {'BusinessTravel': 'BusinessTravel_new',
        'Department': 'Department_new', 
        'EducationField':'EducationField_new',
        'Gender':'Gender_new',
        'JobRole':'JobRole_new',
        'MaritalStatus':'MaritalStatus_new',
        'OverTime':'OverTime_new'}
temp = np.empty([1470, 1])
temp = np.delete(temp, 0, 1)
# alternete of above is 
#temp = np.delete(np.empty([1470,1]), 0, 1)
for i in colm.keys():   
    #print(i,colm[i])
    #colm[i] = []
    #labl_encdr = LabelEncoder()
    #one_hot_encdr = OneHotEncoder(sparse = False, categories = 'auto')
    _ = labl_encdr.fit_transform(df[str(i)])
    _ = one_hot_encdr.fit_transform(_.reshape(-1,1))
    #print(_ .shape)
    #print(temp.shape)
    #print(i,colm[i])
    temp = np.append(temp, _ , axis = 1) 
    #print('{0} \t {1}'.format(i,df2[str(i)].unique()))

In [13]:
temp.shape

(1470, 28)

## Method 2.

In [14]:
ind_BusinessTravel = pd.get_dummies(df['BusinessTravel'], prefix = 'BusinessTravel')
ind_Department = pd.get_dummies(df['Department'], prefix = 'Department')
ind_Gender = pd.get_dummies(df['Gender'], prefix = 'Gender')
ind_EducationField = pd.get_dummies(df['EducationField'], prefix = 'EducationField')
ind_JobRole = pd.get_dummies(df['JobRole'], prefix = 'JobRole')
ind_MaritalStatus = pd.get_dummies(df['MaritalStatus'], prefix = 'MaritalStatus')
ind_OverTime = pd.get_dummies(df['OverTime'], prefix = 'OverTime')

In [15]:
ind_BusinessTravel.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely
0,0,0,1
1,0,1,0
2,0,0,1
3,0,1,0
4,0,0,1

In [16]:
df1 = pd.concat([ind_BusinessTravel, 
                ind_Department, 
                ind_Gender, 
                ind_EducationField, 
                ind_JobRole,
                ind_MaritalStatus, 
                ind_OverTime], axis = 1)

In [17]:
df1.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,Gender_Female,Gender_Male,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,1,0,0,1,...,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,1,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,0,0,1,0,1,0,0,1,...,0,0,1,0,0,0,1,0,0,1
4,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0

### Alternative to method 2 using for loop

"""colm = {'BusinessTravel': 'BusinessTravel_new',
        'Department': 'Department_new', 
        'EducationField':'EducationField_new',
        'Gender':'Gender_new',
        'JobRole':'JobRole_new',
        'MaritalStatus':'MaritalStatus_new',
        'OverTime':'OverTime_new'}

data_frame = pd.DataFrame({'0': range(1470)})
data_frame = data_frame.astype('uint8')
#print(data_frame.shape)
for i in colm.keys():
    #print(i)
    temp = pd.get_dummies(df[str(i)], prefix = str(i))
    #print(temp.shape)
    data_frame = pd.concat([data_frame, temp], axis = 1)
    #ind_BusinessTravel = pd.get_dummies(df[str(i)], prefix = str(i))
df1 = data_frame.iloc[:,1:]
df1.head()"""

### Combining all the data

In [19]:
df.select_dtypes('int64').head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,2,94,3,2,4,5993,...,3,1,0,8,0,1,6,4,0,5
1,49,279,8,1,3,61,2,2,2,5130,...,4,4,1,10,3,3,10,7,1,7
2,37,1373,2,2,4,92,2,1,3,2090,...,3,2,0,7,3,3,0,0,0,0
3,33,1392,3,4,4,56,3,1,3,2909,...,3,3,0,8,3,3,8,7,3,0
4,27,591,2,1,1,40,3,1,2,3468,...,3,4,1,6,3,3,2,2,2,2

In [20]:
df1 = pd.concat([df1, df.select_dtypes('int64')], axis = 1 )

In [21]:
df1.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,Gender_Female,Gender_Male,EducationField_Human Resources,EducationField_Life Sciences,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,0,1,0,0,1,1,0,0,1,...,3,1,0,8,0,1,6,4,0,5
1,0,1,0,0,1,0,0,1,0,1,...,4,4,1,10,3,3,10,7,1,7
2,0,0,1,0,1,0,0,1,0,0,...,3,2,0,7,3,3,0,0,0,0
3,0,1,0,0,1,0,1,0,0,1,...,3,3,0,8,3,3,8,7,3,0
4,0,0,1,0,1,0,0,1,0,0,...,3,4,1,6,3,3,2,2,2,2

In [27]:
X = df1
X.shape

(1470, 51)

***

# With Decision Tree

In [28]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.tree import  DecisionTreeClassifier

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [120]:
def print_score(clf, X_train, X_test, y_train, y_test, train = True):
    '''
    To Print the accuracy score, Precision and recall score with confusion metrcis
    '''
        
    if train:
        '''
        Print the score of train datasets
        '''
        print("\n Report of {} \n".format(clf))
        print("\n @ Train datasets\n")
        
        print("Accuracy score: \t{0:.4f}".format(accuracy_score(y_train, clf.predict(X_train))))
        print("classification_report: \n {} \n".format(classification_report(y_train, clf.predict(X_train))))
        print("confusion matrics: \n {} \n".format(confusion_matrix(y_train, clf.predict(X_train))))
        
        res = cross_val_score(clf, X_train, y_train, cv = 10, scoring = 'accuracy')
        print("Average Accuracy using 10-fold CV: \t {0:.4f} \n SD using 10-fold CV: \t\t\t{1:.4f}".format(np.mean(res), np.std(res)))
        
    elif train == False:
        '''
        Print the score of test sets
        '''
        print("\n @ Test datasets\n")
        
        print("Accuracy score: \t {0:.4f}".format(accuracy_score(y_test,clf.predict(X_test))))
        print("classification_report: \n {} \n".format(classification_report(y_test, clf.predict(X_test))))
        print("confusion matrics: \n {} \n".format(confusion_matrix(y_test, clf.predict(X_test))))

In [121]:
clf = DecisionTreeClassifier()

In [122]:
clf.fit(X_train, y_train.flatten())

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [123]:
print_score(clf, X_train, X_test, y_train, y_test, train = True)
print_score(clf, X_train, X_test, y_train, y_test, train = False)

 Report of DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')


 @ Train datasets

Accuracy score: 	1.0000
classification_report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       853
           1       1.00      1.00      1.00       176

   micro avg       1.00      1.00      1.00      1029
   macro avg       1.00      1.00      1.00      1029
weighted avg       1.00      1.00      1.00      1029


confusion matrics:
 [[853   0]
 [  0 176]]

Average Accuracy using 10-fold CV: 	 0.7813
 SD using 10-fold CV: 			0.0160

 @ Test datasets

Accuracy score: 	 0.7846
classification_report:
               precision    recall  f1-score   support

           0       0.89      0.85      0.87       380
           1       0.29      0.38      0.33        61

   micro avg       0.78      0.78      0.78       441
   macro avg       0.59      0.61      0.60       441
weighted avg       0.81      0.78      0.80       441


confusion matrics:
 [[323  57]
 [ 38  23]]

# With Bagging

In [124]:
from sklearn.ensemble import BaggingClassifier

In [125]:
bag_clf = BaggingClassifier(base_estimator=clf, 
                            n_estimators=100, 
                            bootstrap=True,
                            oob_score=True,
                            n_jobs=-1,
                            random_state=42)

In [126]:
bag_clf.fit(X_train, y_train.ravel())

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=100, n_jobs=-1, oob_score=True,
         random_state=42, verbose=0, warm_start=False)

In [127]:
print_score(bag_clf, X_train, X_test, y_train.ravel(), y_test.ravel(), train = True)
print_score(bag_clf, X_train, X_test, y_train, y_test.ravel(), train = False)

 Report of BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=100, n_jobs=-1, oob_score=True,
         random_state=42, verbose=0, warm_start=False)


 @ Train datasets

Accuracy score: 	1.0000
classification_report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       853
           1       1.00      1.00      1.00       176

   micro avg       1.00      1.00      1.00      1029
   macro avg       1.00      1.00      1.00      1029
weighted avg       1.00      1.00      1.00      1029


confusion matrics:
 [[853   0]
 [  0 176]]

Average Accuracy using 10-fold CV: 	 0.8532
 SD using 10-fold CV: 			0.0255

 @ Test datasets

Accuracy score: 	 0.8685
classification_report:
               precision    recall  f1-score   support

           0       0.89      0.97      0.93       380
           1       0.57      0.21      0.31        61

   micro avg       0.87      0.87      0.87       441
   macro avg       0.73      0.59      0.62       441
weighted avg       0.84      0.87      0.84       441


confusion matrics:
 [[370  10]
 [ 48  13]]

***

#  With xgboost

In [97]:
import xgboost as xgb

In [101]:
xgb_clf = xgb.XGBClassifier(max_depth=3, 
                            learning_rate=0.1, 
                            n_estimators=100, 
                            n_jobs=-1, 
                            gamma=0, 
                            random_state=42)

In [102]:
xgb_clf.fit(X_train, y_train.flatten())

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=42, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [128]:
print_score(xgb_clf, X_train, X_test, y_train.ravel(), y_test.ravel(), train = True)
print_score(xgb_clf, X_train, X_test, y_train, y_test.ravel(), train = False)

 Report of XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=42, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)


 @ Train datasets

Accuracy score: 	0.9475
classification_report:
               precision    recall  f1-score   support

           0       0.94      1.00      0.97       853
           1       0.99      0.70      0.82       176

   micro avg       0.95      0.95      0.95      1029
   macro avg       0.97      0.85      0.89      1029
weighted avg       0.95      0.95      0.94      1029


confusion matrics:
 [[852   1]
 [ 53 123]]

Average Accuracy using 10-fold CV: 	 0.8591
 SD using 10-fold CV: 			0.0213

 @ Test datasets

Accuracy score: 	 0.8776
classification_report:
               precision    recall  f1-score   support

           0       0.89      0.98      0.93       380
           1       0.64      0.26      0.37        61

   micro avg       0.88      0.88      0.88       441
   macro avg       0.77      0.62      0.65       441
weighted avg       0.86      0.88      0.85       441


confusion matrics:
 [[371   9]
 [ 45  16]]